*.iml
.gradle
.idea
settings.
app/build
app/src/main/java/com/hanibalg/yeneservice/patterns/interface/OnDataAdded.java
app/src/main/java/com/hanibalg/yeneservice/patterns/viewModels/IDDataViewModel.java
app/src/main/java/com/hanibalg/yeneservice/patterns/viewModels/ServiceListViewModel.java
app/src/main/java/com/hanibalg/yeneservice/patterns/IDRepository.java
app/src/main/java/com/hanibalg/yeneservice/patterns/ServiceListRepoitory.java
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
