<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yeneservice">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission
        android:name="android.permission.CALL_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/location"
        android:label="@string/app_name"
        android:roundIcon="@drawable/location"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".PaymentActivity"></activity>
        <activity android:name=".ReportActivity" />
        <activity android:name=".Users.LoginActivity" />
        <activity android:name=".Extra.ShowNotificationDetailActivity" />
        <activity android:name=".Extra.ProviderMapActivity" />
        <activity android:name=".Users.ProfileEditPageActivity" />
        <activity android:name=".ReviewActivity" />
        <activity android:name=".SearchProviderActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".Extra.NotificationActivity" />
        <!--
      FirebaseInstanceIdService performs security checks at runtime,
      no need for explicit permissions despite exported="true"
        -->
        <service
            android:name=".Notification.MyFirebaseInstanceIDService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Notification.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".MyProfileActivity" />
        <activity
            android:name=".PagesFragment.ServiceListProvidersActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity android:name=".ServiceProviderProfileActivity" />
        <activity android:name=".Users.ProfileRegisterActivity" />
        <activity android:name=".Extra.MessageActivity" />
        <activity android:name=".Extra.AppointedUsersActivity" />
        <activity android:name=".Users.ShareServiceProviderProfileActivity" />
        <activity android:name=".Users.RegisterInformationActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".Users.PhoneActivateActivity" />
        <activity android:name=".Users.PhoneAuthenticateActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>