<div class="home">
  <app-nav ></app-nav>

  <div class="content">
    <div class="container">
      <div class="row">
        <!-- content text -->
        <div class="col-md-6 content-text">
          <h6>Find What you need</h6>
          <h1>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
            Aenean commodo ligula eget dolor. Aenean massa.</h1>
            <a href="">Download Now</a>
        </div>

        <!-- content image -->
        <div class="col-md-6 content-img">
          <img src="../assets/mobile-img.png" alt="">
        </div>
        
      </div>
    </div>
  </div>

  <div class="wave"></div>
  
</div>

<router-outlet></router-outlet>